apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
data:
  NEXT_PUBLIC_SERVER:
    "http://backend-service:8000" #This is how can access the backend pods running in the cluster from the frontend
    #since both fronend and backend pods running in the same namespace.
